@import '../mixin/mixins';

.input-hero{
    @include flexible(flex,row,nowrap,end,end);
    


        #input{
            border-radius: .5em;
            width: 80%;
            margin-top: .5rem;
            margin-right: 1.875rem;
            
            
            
            #button-addon2{
                background-color: white;
                color: red;
                width: 10%;
                border-radius: 0em 2em 2em 0em;
                
            }
        }

    }
    
