@import '../mixin/mixins';

.menu-hero{
    @include flexible(flex,row,nowrap,end,center);


    color: black;
    font-size: large;
    font-weight: 500;

    

    ul{
        @include flexible(flex,row,nowrap,center,center);
        gap: 1vw;
    }

}

