@import '../mixin/mixins';

.navbar-container {
    background-image: url('../assets/backgroud-header.jpg');
    

  

}
.logo-tittle-container{
    @include flexible(flex, row, nowrap, center, center);
}

.logo-btn {
    @include flexible(flex, row, nowrap, center, center);

    border-radius: 2.5em 0em 2.5em 2.5em;
    background: #073B3A;
    border: 4px solid #E2A30B;
    color: white;
    font-style: italic;
    font-weight: 500;
    height: auto;
    width: auto;


    h1 {
        font-size: 5vw;
    }
}

.titulos-container {

    display: block;

    h1 {
        font-family: 'Roboto';
        font-style: italic;
        font-weight: 700;
        font-size: 4vw;
        color: #ECECEC;
    }

    h2 {
        font-family: 'Roboto';
        font-style: italic;
        font-weight: 200;
        font-size: 3vw;
        color: #ECECEC;
    }

}

.btnandmenu-container {
    height: auto;
    width: auto;
    display: flex;
    flex-direction: column;
    margin-left: auto;
    justify-content: space-between;
    gap: 10vh;
} 

.section-container {
    box-sizing: border-box;
    width: auto;
    height: 50px;
    background-color: aqua;
}



.menu-hero{
    justify-content: end;
    .items{
        color: white;
    }
}

.input{
    width: auto;
}